@import "../../../SCSS/mixins";
@import "../../../SCSS/variables";

:host {
  box-sizing: border-box;
  width: 93%;
  padding: 1rem;
}

.form-group {
  @include form-group(84svh)
}

.list-group-item {
  transition: .2s;
  margin: .2rem 0;
  box-shadow: 0 0 5px 1px hsla(216, 37%, 31%, 15%);
}

.list-group-item:hover {
  transform: translateX(5px);
  background: hsla(216, 37%, 31%, 15%);
  cursor: pointer;
}
