<div
  class="d-flex align-items-center back mb-3"
  routerLink="/client-details/{{clientId}}">
  <mat-icon>arrow_left</mat-icon>
  <span>zurück zum Kunden</span>
</div>
<h3>Kunde</h3>
<table class="table table-light">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Firma</th>
    <th scope="col">Kontakt Email</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">{{client?.company}}</th>
    <td>{{client?.name}}</td>
    <td>{{client?.email}}</td>
    <td>{{client?.isActive ? 'Aktiv' : 'Inaktiv'}}</td>
  </tr>
  </tbody>
</table>
<hr>
<h3 class="mt-3">Gerät</h3>
<form [formGroup]="deviceForm">
  <div class="accordion" id="deviceForm">
    <!--DEVICE DATA-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne"
             aria-expanded="false" aria-controls="collapseOne">
          <p class="w-25">Gerätedaten</p>
          <p
            *ngIf="inEditingMode"
            class="px-5 form-status">
            <mat-icon>done_all</mat-icon>
            Alle notwendigen Felder gefüllt
          </p>
        </div>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse px-3 py-3" data-bs-parent="#deviceForm">
        <fieldset disabled>
          <div class="form-group status">
            <label for="deviceName" class="form-label">Gerätename</label>
            <input type="text" id="deviceName" class="form-control" formControlName="deviceName">
          </div>
          <div class="form-group">
            <label for="deviceSerial">Seriennummer</label>
           <maintenance-qr-input id="deviceSerial" formControlName="deviceSerial"></maintenance-qr-input>
<!--             <input type="text" class="form-control" id="deviceSerial" formControlName="deviceSerial"> -->
          </div>
          <div class="form-group">
            <label for="deviceFlightControllerSerial">Flight Controller Serial</label>
            <input type="email" class="form-control" id="deviceFlightControllerSerial" formControlName="deviceFlightControllerSerial">
          </div>
          <div class="form-group">
            <label for="deviceDescription">Gerät Beschreibung</label>
            <input type="email" class="form-control" id="deviceDescription" formControlName="deviceDescription">
          </div>
        </fieldset>
      </div>
    </div>
    <!--ACCESSOIRES-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
             aria-expanded="false" aria-controls="collapseTwo">
          <p class="w-25">Sensor/ Aktor</p>
          <p
            *ngIf="inEditingMode"
            class="px-5 form-status">
            <mat-icon>done_all</mat-icon>
            Alle notwendigen Felder gefüllt
          </p>
        </div>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse px-3 py-3" data-bs-parent="#deviceForm">

      </div>
    </div>
    <!--BATTERIES-->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <p class="w-25">Akku</p>
          <p
            *ngIf="inEditingMode"
            class="px-5 form-status">
            <mat-icon>done_all</mat-icon>
            Alle notwendigen Felder gefüllt
          </p>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse px-3 py-3" data-bs-parent="#deviceForm">

      </div>
    </div>
  </div>
</form>
<hr>
<h3 class="mt-3">Wartungen</h3>
<div class="list-group">
  <div 
    *ngFor="let entry of maintenanceEntries"
    class="list-group-item d-flex flex-row justify-content-between">
    <div>
      <h5 class="bg-primary text-light p-2 rounded">{{entry.type}}</h5>
    </div>
<div>
  <h5>{{entry.date | date}}</h5>
  <h5>{{entry.technician}}</h5>
</div>

  </div>
</div>


