@font-face {
  font-family: 'manrope';
  src: url("../assets/font/Manrope-VariableFont_wght.ttf");
  font-weight: 100 900;
};


$primary: hsl(216, 37%, 31%);
$success: hsl(102, 52%, 14%);
$danger: darkred;
$font-family-sans-serif: manrope, sans-serif;
$font-size-base: .75rem;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";


/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; overflow: hidden; box-sizing: border-box}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(216, 37%, 31%, 50%);
  opacity: .7;
  border-radius: 10px;
}

/* ----- INPUT FIELD STYLING ----- */

::placeholder {
  color: hsla(216, 37%, 31%, 75%);
  opacity: 1; /* Firefox */
  font-size: 12px;
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: hsla(216, 37%, 31%, 75%);
  font-size: 12px;
}

input:focus {
  border: none;
  outline: 1px solid hsla(216, 37%, 31%, 50%);
  box-shadow: 0 0 10px 2px hsla(216, 37%, 31%, 50%) ;
}

label.required::after {
  content: '*';
  color: deeppink;
}

label {
  font-weight: bold;
  color: #324A6D;
}

/* ----- GLOBAL FORM STYLINGS -----*/

.form-status {
  padding-left: .3rem;
  font-size: 1.3rem;
}

.form-status.valid {
  color: lightgreen;
}

.form-status.invalid {
  color: deeppink;
}

.form-action-btn-group {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* ---- GENEREAL TABLE STYLINGS -----*/

.clickable-table-row, .clickable-table-entry {
  cursor: pointer;
  transition: 0.2s;
}

.clickable-table-row:hover, .clickable-table-entry:hover {
  box-shadow: 0 0 10px 2px lightgrey;
  border-radius: 10px;
}

/* --- LISTGROUP STYLINGS ----- */
.list-group-item {
  transition: .2s;
  margin: .2rem 0;
  box-shadow: 0 0 5px 1px hsla(216, 37%, 31%, 15%);
}

.list-group-item:hover {
  transform: translateX(5px);
  background: hsla(216, 37%, 31%, 15%);
  cursor: pointer;
}

@media print {
  body .no-print {
    height: 0;
    width: 0;
    display: none !important;
  }
}
