<div class="row h-50 d-flex justify-content-center">
  <div class="col-4 border border-warning-subtle m-2 rounded shadow-sm p-2"><maintenance-next-maintenance-devices></maintenance-next-maintenance-devices></div>
  <div class="col-4 border m-2 rounded shadow-sm p-2"><maintenance-recent-entries></maintenance-recent-entries></div>
</div>
<div class="row h-50 d-flex justify-content-center">
  <div class="col-4 border m-2 rounded shadow-sm  p-2"><maintenance-recent-devices></maintenance-recent-devices></div>
  <div class="col-4 border m-2 rounded shadow-sm  p-2"><maintenance-recent-clients></maintenance-recent-clients></div>
</div>
